{% extends 'base.html' %}

{% block title%} Home {% endblock %}
{% load static %}
{% block content %}
<div id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover" data-interval="false" >
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleControls" data-slide-to="1"></li>
    <li data-target="#carouselExampleControls" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div id="home" class="first-section">
        <img src="{% static 'assets/images/slider image -01.jpg' %}" alt="Slider Image 01">
        <div class="dtab">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 text-right">
                <div class="big-tagline">
                  <h2><strong> EntranceMaster</strong> </h2>
                  <p class="lead">Nepal`S First Smart Leading Institution . </p>
                  </div>	
              </div>
            </div><!-- end row -->            
          </div><!-- end container -->
        </div>
      </div><!-- end section -->
    </div>
    <div class="carousel-item">
      <div id="home" class="first-section">
        <img src="{% static 'assets/images/sliderrimage-02.jpg' %}" alt="Slider Image 02">
        <div class="dtab">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 text-left">
                <div class="big-tagline">
                                      <h2><strong> EntranceMaster</strong> </h2>
                  <p class="lead">Nepal`S First Smart Leading Institution . </p>
                    
                </div>
              </div>
            </div><!-- end row -->            
          </div><!-- end container -->
        </div>
      </div><!-- end section -->
    </div>
    <div class="carousel-item">
      <div id="home" class="first-section">
        <img src="{% static 'assets/images/slider-03.jpg' %}" alt="Slider Image 3">
        <div class="dtab">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 text-center">
                <div class="big-tagline">
                  <h2><strong> EntranceMaster</strong> </h2>
                  <p class="lead">Nepal`S First Smart Leading Institution . </p>
                  
                </div>
              </div>
            </div><!-- end row -->            
          </div><!-- end container -->
        </div>
      </div><!-- end section -->
    </div>
    <!-- Left Control -->
    <a class="new-effect carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="fa fa-angle-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <!-- Right Control -->
    <a class="new-effect carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="fa fa-angle-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

  <div id="overviews" class="section wb">
      <div class="container">
          <div class="section-title row text-center">
              <div class="col-md-8 offset-md-2">
                  <h3>About Us</h3>
                  <p class="lead">We are a dedicated group of Tutors committed to providing you with high-quality educational content that comprehensively covers your syllabus. Our mission is to make your academic journey smoother, whether you're preparing for Entrance Exam, Chartered Accountant or any other Course.

                      You no longer need to navigate the challenges of finding the best institute and accommodation in respective area. With our resources, you can study from the comfort of your own home and then move to Centers fully prepared for Tests/Exam and practicals.
                      
                      All the content on our platform is provided by experienced Tutors.</p>
              </div>
          </div><!-- end title -->
      
          <div class="row align-items-center">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                  <div class="message-box">
                      <h4>Upcoming Best Smart Academy </h4>
                      <h2>Welcome to Entrance Master</h2>
                      <p>Welcome to Entrance Master! Here, we take immense pride in being a registered educational 
            sanctuary, presenting an enchanting world of learning that unfurls right before your eyes. 
            Our digital realm is a haven dedicated to the art of education, offering a splendid array of 
            Live and Recorded courses meticulously crafted to enhance your journey in the domains of
             Medical Entrance Classes and the esteemed Chartered Accountant profession.
              Come, join us in this delightful quest for knowledge, where every moment brings you a step
               closer to your cherished dreams.</p>
                  
                  </div><!-- end messagebox -->
              </div><!-- end col -->
      
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                  <div class="post-media wow fadeIn">
                    <img src="{% static 'assets/images/about_02.jpg' %}" alt="About Image 2" class="img-fluid img-rounded">
                  </div><!-- end media -->
              </div><!-- end col -->
    </div>
   
      
      
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                  <div class="message-box">
                      <h2>Services of Entrance Master</h2>
                      <p>At Entrance Master, we're thrilled to unveil our treasure trove of recorded lectures,
                           catering to the seekers of wisdom in both the illustrious fields of Medical Entrance 
                           and the distinguished Chartered Accountancy. While you savor these offerings,
                            we're passionately crafting live classes that will soon grace your screens, 
                            ensuring real-time engagement and learning. 
                            But that's not all – our commitment extends beyond knowledge-sharing.
                             We are dedicated to providing the gentle guiding hand of mentorship and unwavering 
                             guidance, accompanying you on your educational journey. 
                             And the delights continue to unfold! We also offer a bouquet of other enchanting 
                             courses, including:<br> 1. A captivating +2 level science course, where you can boost the performance of board.<br> 
                             2. Handwritten notes, thoughtfully crafted to enhance your learning experience, adding a personal touch to your educational adventure.<br>
                             3.A complete guide from zero level  for the common entrance examination with the tutors who already cracked it.<br>
                             4. A complete course for Chartered Accountant including best lecture and practices.<br>
                          
                             Let Entrance Master be your gateway to an educational world filled with possibilities and a nurturing community that's here to support and inspire you at every turn.</p>

                    
                  </div><!-- end messagebox -->
              </div><!-- end col -->
      
          </div><!-- end row -->
      </div><!-- end container -->
  </div><!-- end section -->

  

<div class="section cl">
  <div class="container">
    <div class="row text-left stat-wrap">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-study"></i></span>
        <p class="stat_count">10000+</p>
        <h3>Students</h3>
      </div><!-- end col -->

      <div class="col-md-4 col-sm-4 col-xs-12">
        <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-online"></i></span>
        <p class="stat_count">15+</p>
        <h3>Courses</h3>
      </div><!-- end col -->

      <div class="col-md-4 col-sm-4 col-xs-12">
        <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-years"></i></span>
        <p class="stat_count">3</p>
        <h3>Years Completed</h3>
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end section -->
{% endblock %}
